{% extends "home/base.html" %}
{% block content %}
<div class="container">

    <h1 align="center" style="font-family: 'Times New Roman', Times, serif; font-size: 60px;">Lotus</h1>
    <h3 align="center" style="color: crimson;">(Scientific name : NELUMBO NUCIFERA)</h3>
    <div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading"><input type="checkbox" role="button"
            id="toctogglecheckbox" class="toctogglecheckbox" style="display:none">
        <div class="toctitle" lang="en" dir="ltr">
            <h2 id="mw-toc-heading" style="font-family:'Courier New', Courier, monospace;"><b>Contents</b></h2><span
                class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span>
        </div>
        <ul>
            <li class="toclevel-1 tocsection-1"><a href="#Introduction"><span class="tocnumber">1</span> <span
                        class="toctext">Introduction</span></a></li>
            <li class="toclevel-1 tocsection-2"><a href="#Etymology"><span class="tocnumber">2</span> <span
                        class="toctext">Etymology</span></a></li>
            <li class="toclevel-1 tocsection-3"><a href="#Botany"><span class="tocnumber">3</span> <span
                        class="toctext">Botany</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-4"><a href="#Evolution"><span class="tocnumber">3.1</span>
                            <span class="toctext">Evolution</span></a></li>
                    <li class="toclevel-2 tocsection-5"><a href="#Species"><span class="tocnumber">3.2</span> <span
                                class="toctext">Species</span></a></li>
                    <li class="toclevel-2 tocsection-6"><a href="#Taxonomy"><span class="tocnumber">3.3</span> <span
                                class="toctext">Taxonomy</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-7"><a href="#Uses"><span class="tocnumber">4</span> <span
                        class="toctext">Uses</span></a>
                <ul>
                    <li class="toclevel-2 tocsection-8"><a href="#Ornamental_plants"><span class="tocnumber">4.1</span>
                            <span class="toctext">Ornamental plants</span></a></li>
                    <li class="toclevel-2 tocsection-9"><a href="#Cut_flowers"><span class="tocnumber">4.2</span> <span
                                class="toctext">Cut flowers</span></a></li>
                    <li class="toclevel-2 tocsection-10"><a href="#Medicinal_uses"><span class="tocnumber">4.3</span>
                            <span class="toctext">Medicinal uses</span></a></li>
                    <li class="toclevel-2 tocsection-11"><a href="#Health_benefits"><span class="tocnumber">4.4</span>
                            <span class="toctext">Health benefits</span></a></li>
                    <li class="toclevel-2 tocsection-12"><a href="#Perfumes_and_food"><span class="tocnumber">4.5</span>
                            <span class="toctext">Perfumes and food</span></a></li>
                </ul>
            </li>
            <li class="toclevel-1 tocsection-13"><a href="#Symbolizes"><span class="tocnumber">5</span> <span
                        class="toctext">Symbolizes</span></a></li>
            <li class="toclevel-1 tocsection-14"><a href="#Season_to_grow"><span class="tocnumber">6</span> <span
                        class="toctext">Season to grow</span></a></li>
        </ul>
    </div>

    <h3><span class="mw-headline" id="Introduction"
            style="font-family:'Courier New', Courier, monospace;"><b>Introduction</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        Nelumbo nucifera, also known as Indian lotus, sacred lotus.The leaves and flowers of the Lotus float and have
        long stems that contain air spaces in them.The lotus flowers have many petals overlapping in a proportional
        pattern. The root functions of lotus are carried out by rhizomes that fan out horizontally through the mud below
        the water.
        The flower is native to Asia, predominantly to the regions of India and China. A Lotus flower grows 49 inches in
        height and can spread 10 feet horizontally.The flower petals open in the morning and close at night. The petals
        of the Lotus have air-pockets to retain buoyancy on the water bodies. There are three varieties based on petal
        colour like white ,reddish white, and reddish are widely found all over india especially in south east.It has a
        very wide native distribution, ranging from central and northern India (at altitudes up to 1,400 m or 4,600 ft
        in the southern Himalayas),across world lotuses grows in China for about 70%, east of Iran , Australia,north
        America.</p>
    <h3><span class="mw-headline" id="Etymology"
            style="font-family:'Courier New', Courier, monospace;"><b>Etymology</b></span><span
            class="mw-editsection"></span>
    </h3>
    <p>
        The word 'nelum' which means blue is tamil word and 'nucifera' derives from latin word (nux=nut and
        fera=bearing)
    </p>
    <h3><span class="mw-headline" id="Botany"
            style="font-family:'Courier New', Courier, monospace;"><b>Botany</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        <span class="mw-headline" id="Evolution"><b>1.) Evolution</b></span><span class="mw-editsection"></span>
    <p>It has a very long history (c. 3,000 years) of being cultivated for its edible seeds.Their existence stretches
        back some 145.5 million years.Lotus flower even survived in Ice age(time of great geological and ecological
        change).This hardy flower also grows naturally from Russia to Australia, China to Iran. It seems they can
        survive the extremes of any climate.</p>

    <span class="mw-headline" id="Species"><b>2.) Species</b></span><span class="mw-editsection"></span>
    <p>Asiatic (Nelumbo – Alba grandiflora) Growing up to four feet in height, this lotus is pure white and beautiful.
        It is a very large flower with a wonderful fragrance and large, pea-green foliage.American Lotus (Nelumbo lutea
        --> yellow)this has uncut leaves that are circular and blue-green in color. It can also get up to over three
        feet , Angel Wings (Nelumbo nucifera-->pink)large leaves that can get up to two feet in diameter and they are
        large, round, and waxy green in color , Asiatic (Nelumbo Alba grandiflora-->white) ,Star Lotus (Nymphaea
        nouchali-->Blue) this lotus has violet-blue petals and reddish edges.It contain 100 species. while Korea, China
        and Japan celebrate the flower’s beauty by holding the Lotus Festival.Today the species also occurs in southern
        India, Sri Lanka, virtually all of Southeast Asia, New Guinea and northern and eastern Australia, but this is
        probably the result of human translocations</p>
    <span class="mw-headline" id="Taxonomy"><b>3.) Taxonomy</b></span><span class="mw-editsection"></span>
    <p>Domain : eukaryote</br>
        Kingdom : plantae</br>
        Phylum : vascular plant</br>
        Order : Proteales</br>
        Family : Nelumbonaceae</br>
        Genus : Nelumbo</p>
    </p>

    <p>
    <h3><span class="mw-headline" id="Uses"
            style="font-family:'Courier New', Courier, monospace;"><b>Uses</b></span><span
            class="mw-editsection"></span></h3>
    <span class="mw-headline" id="Ornamental_plants"><b>1.) Ornamental plants</b></span><span
        class="mw-editsection"></span>
    <p>There is no much decorative use because as we cant grow lotus at indoor level as it require necessary water
        depth. This is used as ornamental plant for decoration in ponds and water gardens.</p>

    <span class="mw-headline" id="Cut_flowers"><b>2.) Cut flowers</b></span><span class="mw-editsection"></span>
    <p>lotuses are not available as cut flowers due the fact that lotus stems are self healing.</p>

    <span class="mw-headline" id="Medicinal_uses"><b>3.) Medicinal uses</b></span><span class="mw-editsection"></span>
    <p>whole plant is used as astringent,emollient(haves quality of soothing the skin) diuretic, also used in treatment
        of diarrhoea,tissue inflammation and homeostasis(maintain body stability based on changing condition)
        rhizome(storage organ of lotus ) extract used as antidiabetic.It has been used for treating muscle spasms and
        pains.Lotus flowers are also known to be resistant to pollution, and can even purify the water they grow in. In
        other words, they don’t mind an acidic or dirty environment.</p>

    <span class="mw-headline" id="Health_benefits"><b>4.) Health benefits</b></span><span class="mw-editsection"></span>
    <p>In Ayurvedic Medicine lotus flowers are ground into a paste and applied to the skin, moisturizes the skin, and
        creating youthful looking skin. Vitamin C – Lotus flowers contain Vitamin C which is a powerful antioxidant
        helping to keep away diseases such as cardiovascular disease, strokes, and even cancer. When you have Vitamin B,
        you also get pyridoxine in the body. This component can directly interact with neural receptors in the brain to
        influence mental state as well as positive mood. The other negative factors such as stress levels, headaches,
        and irritation are also regulated.Regulates Normal Blood Pressure
        Potassium is found in sufficient amounts in lotus roots, which means consumption of this part can give a healthy
        heart.Another vitamin found in lotus roots is vitamin A, which improves the health of hair, eyes, and skin.</p>

    <span class="mw-headline" id="Perfumes_and_food"><b>5.) Perfumes and food</b></span><span
        class="mw-editsection"></span>
    <p>From the stems to the rhizomes, most parts of the flower are edible. lotus fragrance is generally described as
        "pleasant" , "fruity", or "sweet".The lotus flowers are used for extraction of perfume. The lotus perfume
        available in the trade is a blend of patchouli, benzoin and styrax with phenylethyl and cinnamic alcohols.
    </p>
    </p>
    <h3><span class="mw-headline" id="Symbolizes"
            style="font-family:'Courier New', Courier, monospace;"><b>Symbolizes</b></span><span
            class="mw-editsection"></span></h3>
    <p>
        It is the national flower of India and Vietnam. It is symbol of purity,enlightment,rebirth.It is a sacred flower
        in both Hinduism and Buddhism, representing the path to spiritual awakening and enlightenment.The most common
        lotus form seen in Hinduism is the white lotus flower. Many of the gods and goddesses of Hinduism are linked to
        the flower; for example the goddess of prosperity, "Laxmi" is usually depicted as being seated atop a fully
        opened lotus flower.
    </p>
    <h3><span class="mw-headline" id="Season_to_grow" style="font-family:'Courier New', Courier, monospace;"><b>Season
                to
                grow</b></span><span class="mw-editsection"></span></h3>
    <p>
        Blooms early to late summer ,It is grown in damp soil and propogated through seed, they are cultivated in water
        garden.The sacred lotus requires a nutrient-rich loamy soil.In north america it bloom in mid june to july till
        autumn.As lotuses are day blooming plant (opening early morning closing mid afternoon and completely close in
        night).Lotus plants are adapted to grow in the flood plains of slow-moving rivers and delta areas. Lotus grows
        in a aquatic environment, sinking its tough, tuberous roots into the mud.
    </p>
</div>

{% endblock content %}